{% extends "layout.html" %}
{% block body %}
	<form action="/uploader" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" accept=".pdf"/><br>
		<p>Title</p><br>
		<input type="text" name="title"><br>
		<p>Composer</p><br>
		<input type="text" name="composer"><br>
		<p>Genre</p><br>
		<input type="text" name="genre"><br>
		<p>Notation Type</p><br>
		<input type="text" name="notation"><br>
		<p>Instrument count</p><br>
		<input type="text" name="instrumentcount"><br>
		<input type="submit" value="Send">
	</form><br><br>
	<a href="/">Home Page</a>
{% endblock %}
