{% extends "layout.html" %}
{% block body %}
	<h3>{{ music.title }}</h3>
	<p>Composer: {{ music.composer }}</p>
	<p>Genre: {{ music.genre }}</p>
	<p>Notation type: {{ music.notation }}</p>
	<p>Difficulty: {{ music.difficulty }}</p>
	<p>Uploader: {{ music.uploader }}</p>
	<p>Views: {{ music.views }}</p>
	<a href="/delete/{{ music.filename }}">Delete</a><br><br>
	<embed src="{{ upload_folder }}/3c5b1446-5940-4dd8-bf73-0e885da965fe_Akebono_Sugagaki.pdf" width="800px" height="1150px" scrolling="auto" />
	<a href="/">Home Page</a>
{% endblock %}
